{% extends "Homepage.html" %} 

{% block content %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<div class="m-3">
  <form method="post" action="{% url 'navigate_date' %}" style="display: inline;">
      {% csrf_token %}
      <input type="hidden" name="date" value="{{ date }}">
      <button type="submit" name="direction" value="backward" class="btn btn-dark">&#60;</button>
  </form>

  <form method="post" action="{% url 'navigate_date' %}" style="display: inline;">
      {% csrf_token %}
      <input type="hidden" name="date" value="{{ date }}">
      <button type="submit" name="direction" value="forward" class="btn btn-dark">&#62;</button>
  </form>
</div>

<div class="container">
    <h1>Schedule for {{ date }}</h1>
    {% for shift in shift_structure %}
    <p class="border-bottom"> {{shift.shiftname}} Shift ({{shift.start_time}} to {{shift.end_time}}) </p>
    <table>
        <thead>
            <tr>
                <th>Workstation</th>
                <th>Employee</th>
                <th>Shift Date</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in schedule_entries %}
                {% if entry.shift_date == }
                <tr>
                    <td>{{ entry.workstationid }}</td>
                    <td>{{ entry.employeeid }}</td>
                    <td>{{ entry.shift_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>


{% endblock content %}
